.description{
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p{
  font-size: 20px;
}
.name{
  display: flex;
  margin-bottom: 2%;
  justify-content: space-between;
}
